/*GEAR_PROJECT@CSS*/
/*CREDITED_TO_CAMERON_WARNER@STARBUCKS.COFFEE.ISH@(gmail.com/google.com)*/
@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto|Staatliches|Thasadith');
h1 {
	color: #33ff77;
	font-family: Staatliches;
	font-size: 2.5 em;
	text-align: center;
}
h2 {
	color: #33ff77;
	font-family: Montserrat;
	font-size: 2.125 em;
	text-align: center;
}
h3 {
	color: #33ff77;
	font-family: Thasadith;
	font-size: 1.875 em;
	font-weight: bold;
	text align: center;
}
p {
	color: #33ff77;
	font-size: 1.5625 em;
	font-family: Roboto;
	text-indent: 7.5%;
	text-align: left;
}
body {
	background-color: #696969;
}
img {
	width: 30%;
	height: 35%;
	float: right;
}
a {
	color: #33ff77;
	font-size: 1.875 em;
	font-family: Roboto;

}
ul {
	color: #33ff77;
	font-size: 1.875 em;
	font-family: Roboto;
	text-align: left;
}
li {
	color: #33ff77;
	font-size: 1.875 em;	
	font-family: Roboto;
	text-align: left;
}
